{% extends "base.html" %}
{% block content %}
<h2>My Profile</h2>
<div align="center">
    <form method="POST">
        <input class="login" value="{{ student.name }}" disabled>
        <input class="login" value="{{ student.email }}" disabled>
        <input class="login" name="contact" value="{{ student.contact }}" placeholder="Contact">
        <textarea class="login" name="resume" placeholder="Paste Resume Text Here">{{ student.resume or "" }}</textarea>
        <button class="submit login">Update Profile</button>
    </form>
</div>
<br>
<div align="center">
    <a href="/student/dashboard">Back to Dashboard</a>
</div>
{% endblock %}