{% extends "base.html" %}
{% block content %}
<h2>Admin Dashboard</h2>
<p>
<form action="/admin/search" method="GET" align="center">
    <input class="search" name="q" placeholder="Search students or companies">
    <button class="admin-dash login submit">Search</button>
</form>
</p>
<div>
    <div class="admin-dash">
        <h3>{{ students }}</h3>
        <p>Total Students</p>
    </div>
    <div class="admin-dash">
        <h3>{{ companies }}</h3>
        <p>Total Companies</p>
    </div>
    <div class="admin-dash">
        <h3>{{ drives }}</h3>
        <p>Total Drives</p>
    </div>
    <div class="admin-dash">
        <h3>{{ applications }}</h3>
        <p>Total Applications</p>
    </div>
</div>
<br>
<div class="dashboard">
    <a href="/admin/students">Manage Students</a> |
    <a href="/admin/companies">Manage Companies </a>|
    <a href="/admin/drives">Manage Drives</a> |
    <a href="/admin/applications">Manage Applications</a>
</div>
{% endblock %}