{% extends "base.html" %}
{% block content %}
<h2>My Placement Drives</h2>
<table class="table-border">
    <tr>
        <th>ID</th>
        <th>Job Title</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for d in drives %}
    <tr>
        <td>{{ d.id }}</td>
        <td>{{ d.job_title }}</td>
        <td>
            {% if d.status == "pending" %}
            <a href="/admin/approve_drive/{{ d.id }}">Approve</a> |
            <a href="/admin/reject_drive/{{ d.id }}">Reject</a>
            {% elif d.status == "approved" %}
            <span>Approved</span>
            {% elif d.status == "rejected" %}
            <span>Rejected</span>
            {% elif d.status == "closed" %}
            <span>Closed</span>
            {% endif %}
        </td>
        <td>
            <a href="/company/delete_drive/{{ d.id }}" onclick="return confirm('Are you sure?')">
                Delete
            </a>
            {% if d.status == "approved" %}
            <a href="/company/close_drive/{{ d.id }}">
                | Close
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}