{% extends "base.html" %}
{% block content %}
<h2>Search Results</h2>
<p>Students</p>
<table class="table-border">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    {% for s in students %}
    <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">No students found</td>
    </tr>
    {% endfor %}
</table>
<p>Companies</p>
<table class="table-border">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    {% for c in companies %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.email }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">No companies found</td>
    </tr>
    {% endfor %}
</table>
<br>
<p><a href="/admin/dashboard">Back</a></p>
{% endblock %}