{% extends "base.html" %}
{% block content %}
<h2>Students</h2>
<table class="table table-border">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Resume Link</th>
        <th>Action</th>
    </tr>
    {% for s in students %}
    <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.contact }}</td>
        <td>
            {% if s.resume %}
            <a href="{{ s.resume }}" target="_blank">View Resume</a>
            {% else %}
            No Resume
            {% endif %}
        </td>
        <td>
            <a href="/admin/blacklist_student/{{ s.id }}">Blacklist</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}