{% extends "base.html" %}
{% block content %}
<h2>Create Placement Drive</h2>
<div align="center">
    <form method="POST">
        <input class="login" name="title" placeholder="Job Title">
        <input class="login" name="skills" placeholder="Required Skills">
        <input class="login" name="experience" placeholder="Experience (e.g. 2 years)">
        <input class="login" name="salary" placeholder="Salary (e.g. 5 LPA)">
        <button class="login submit">Create Drive</button>
    </form>
</div>
{% endblock %}