{% extends "base.html" %}
{% block content %}
<h2>Shortlisted Candidates</h2>
<table class="table-border">
<tr>
    <th>Student Name</th>
    <th>Job Title</th>
    <th>Status</th>
    <th>Resume</th>
</tr>
{% for a in apps %}
<tr>
    <td>{{ a.name }}</td>
    <td>{{ a.job_title }}</td>
    <td>{{ a.status }}</td>
    <td>
        {% if a.resume %}
            <a href="{{ a.resume }}" target="_blank">View Resume</a>
        {% else %}
            No Resume
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
