{% extends "base.html" %}
{% block content %}
<h2>Company Registration</h2>
<div align="center">
    <form method="POST">
        <input class="login" name="name" placeholder="Company Name">
        <input class="login" name="email" placeholder="Email">
        <input class="login" type="password" name="password" placeholder="Password">
        <input class="login" name="website" placeholder="Company Website">
        <input class="login" name="hr" placeholder="HR Contact">
        <button class="login submit">Register</button>
    </form>
</div>
{% endblock %}